@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.nav {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  border-bottom: 1px solid black;
  overflow: hidden;
}
.navlist {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.navlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding: 10px;
  margin-right: 150px;
}
.navlist:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#explore {
  margin-left: 20px;
  font-size: 25px;
}
.right {
  text-decoration: none;
  padding: 20px;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: large;
  float: right !important;
}
.nav-right {
  float: right;
}

.container {
  background-image: url("/others/img\ \(16\).jpg");
  background-color: #cccccc;
  color: black;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Poppins", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  font-weight: bolder;
  font-size: 40px;
}
#exploreBtn {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  border: 1px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: none;
  border-radius: 50px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
#exploreBtn:hover {
  margin-top: 20px;
  cursor: pointer;
  background: none;
  color: white;
  border: 1px solid white;
}

/* --------------- Blog Carousel ------------ */

/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.main{
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  /* background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); */
  background-image: url('../others/rose-petals.png');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

#Cardimg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

/* -------x------- Blog Carousel -----x------ */
