<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/about.css"> -->
    <link href="../../public/css/about.css" rel="stylesheet" type="text/css">
    <!-- <link href="../../css/about.css" rel="stylesheet" type="text/css"> -->
    <link rel="icon" type="image/x-icon" href="/others/logo.png">
    <title>Explorer - About</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav">
          <div class="navlogo">
            <img src="/others/logo.png" alt="image" height="40px" width="40px" class="logoimg"/>
            Explorer
          </div>
          <div class="navlist"><a href="/">Home</a></div>
          <div class="navlist"><a href="#">About</a></div>
          <div class="navlist"><a href="/contact">Contact Us</a></div>
          <div class="navlist" id="loginlink"><a href="/users/login">Login</a></div>
        </ul>
      </nav>
      
      <div class="container">
        <h2>About Us</h2>
        <p class="about">We are the leading growing blogging sensation of India - "The Explorer".<br>
          We provide people a plateform to express their experiences,ideas and views.<br>
          All blogs provided to us are first checked and verified by our hard working authors and editors.
        </p>

      </div>
      
</body>
</html>