<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Explorer - Blog Write</title>
    <link
      href="../../public/css/dashbaord.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      /*----------------------Form designing----------------------*/
      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins&family=Varela+Round&display=swap");
      @import url("fonts.css");

      * {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
      }

      html {
        /* overflow-y: scroll; */
      }
      body {
        background-color: rgb(219, 245, 248);
        /* position: absolute; */
      }

      /* Style inputs with type="text", select elements and textareas */
      input[type="text"],
      input[type="email"],
      select,
      textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
      }

      /* Style the submit button with a specific background color etc */
      input[type="submit"] {
        background-color: #04aa6d;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      /* When moving the mouse over the submit button, add a darker green color */
      input[type="submit"]:hover {
        background-color: #45a049;
      }

      /* Add a background color and some padding around the form */
      .container {
        margin: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        border: 1px solid rgb(97, 97, 97);
        box-shadow: 10px 10px 5px 2px rgb(153, 153, 153);
      }

      input::file-selector-button {
        font-weight: bold;
        color: dodgerblue;
        padding: 0.5em;
        border: thin solid grey;
        border-radius: 3px;
      }
      #BlogLabel {
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="/users/publishBlog" method="post">
        <label for="fname">Author Name</label>
        <input
          type="text"
          id="fname"
          name="name"
          placeholder="<%= user %>"
          disabled
        />

        <label for="fname">Email</label>
        <input
          type="text"
          id="fname"
          name="name"
          placeholder="<%= email %>"
          disabled
        />

        <label for="blogtitle">Blog Title</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Enter a fascinating blog title.."
        />
        <!-- <label for="avatar">Choose a blog picture:</label><br />
        <input
          type="file"
          name="avatar"
          accept="image/png, image/jpeg"
        /><br /><br /> -->

        <label for="subject" id="BlogLabel">Blog</label>
        <textarea
          id="blog"
          name="blog"
          placeholder="Express your creativity here.."
          style="height: 200px"
        ></textarea>

        <input type="submit" value="Publish" />
      </form>
    </div>
  </body>
</html>
